*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

.container {
  color: white;
  width: 90%;
  padding: 10px;
}

.header {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
}
.reset {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 10px 20px;
}

.title {
  text-align: center;
}

.editor {
  display: flex;
  height: 100%;
}

#markdown-editor {
  flex: 1;
  outline: none;
  padding: 5px;
  height: 80%;
}

.review {
  flex: 1;
  height: 80%;
  padding: 10px;
  font-size: 16px;
  background: #fff;
  overflow-y: auto;
  color: black;
}
