* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: black;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  color: white;
}

.container {
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: green;
  color: white;
}

.img-holder {
  margin-top: 20px;
  width: 400px;
  height: 400px;
  background-color: bisque;
  border-radius: 50%;
  display: none;
}

.show {
  display: block;
}
