* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: wheat;
}

.date-picker-input,
.version {
  padding: 10px;
}

.date-picker {
  display: none;
  width: 100%;
  height: 200px;
  background: brown;
}

.visible {
  display: block;
}

.date-picker-header {
  display: flex;
}
