* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  color: white;
}

.input {
  visibility: hidden;
}

.label {
  position: relative;
  background: lightgray;
  width: 80px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  left: 3px;
  animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
  background: #000;
}

.input:checked + .label .circle {
  animation: toggleOn 0.4s linear forwards;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
