* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  color: white;
}

.image {
  width: 70px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.container {
  position: relative;
  background-color: brown;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
  width: 500px;
}

.paragrap {
  margin-top: 50px;
}
