body {
  height: 100vh;
  margin: 0;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.input {
  outline: none;
}

.main-caculator {
  border: solid 1px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.button-container {
  border: 1px solid;

  width: 90%;
  height: 90%;
}
