* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-caculator {
  border: solid 1px #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* align-items: center; */
  background-color: #f2f2f2;
}

#result {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  outline: none;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
  border-radius: 5px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px;
  font-size: 24px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}
/* Phím số */
.btn-number,
.btn-decimal {
  background: #fff;
}
.btn-number:hover {
  background: #666;
}

/* Phím toán tử */
.btn-operator {
  background: #f39c12;
  color: #fff;
}
.btn-operator:hover {
  background: #e67e22;
}

/* Phím chức năng */
.btn-action {
  background: #c0392b;
  color: #fff;
}
.btn-action:hover {
  background: #e74c3c;
}

.btn-clear {
  background-color: #ff4136;
}

.btn-equals {
  background-color: #01ff70;
  grid-row: span 3;
}
