body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.main {
  padding: 10px;
  background-color: pink;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.input-container {
  border: solid 2px black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 24px;
  letter-spacing: 4px;
}

.input::placeholder {
  letter-spacing: 0px;
}

.fa-copy {
  cursor: pointer;
  opacity: 0.3;
}

.fa-copy:hover {
  opacity: 0.7;
}

.btn {
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 20px;
  padding: 10px 20px;
}

.btn:hover {
  background-color: green;
}

.btn:active {
  transform: scale(0.95);
}

.alert-container {
  position: fixed;
  bottom: 10px;
  right: -300px;

  width: 30px;
  width: 300px;
  height: 50px;
  background: lightgreen;
  opacity: 0.8;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

  border-radius: 10px;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.active.alert-container {
  right: 10px;
}

.faild {
  color: red;
  right: 10px;
}
