* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
}

.container {
  border: 1px solid;
  color: white;
  background: gray;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.curency-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
